<h2>List of my favourit anime characters</h2>

<ul>
    <li class="aot">Eren</li>
    <li class="aot">Levi</li>
    <li class="csm">Denji</li>
    <li class="csm">Aki</li>
    <li class="csm">Yoshida</li>
</ul>

<h2>List of my favourit waifus</h2>

{{> waifus }}

<h2>Devils and titans</h2>
<ul>
    {{#each jinjurikis}}
    <li>The {{this.name}} entity is in {{this.holder}}</li>
    {{/each}}
</ul>